<article class="post">
  <div class="title">
    <iframe style="border-radius:12px" src={{post.post_url}} width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> 
    <span>({{post.title}})</span>
  </div>
  <div class="meta">
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
  {{#if loggedIn}}
  <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
     <p> {{user.username}}: {{comment_text}} </p>
     <p> Posted at: {{created_at}} </p>
    </div>
    <div class="text">
      {{comment.comment_text}}
    </div>
  </section>
  {{/each}}
</div>
</article>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}